@import "../../style.scss";

.post {
  @include themify($themes) {
    max-width: 100%;
    max-width: 900px;
    border-radius: 20px;
    background-color: themed("bg");
    color: themed("textColor");
    box-shadow: 0 0 25px -10px rgba(0, 0, 0, 0.38);

    .container {
      padding: 20px;

      


      .user {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .userInfo {
          display: flex;
          gap: 20px;

          .avatar {
            width: 45px;
            height: 45px;
            position: relative;
          }
          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
            position: absolute;

          }
          
          .avtpet {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            object-fit: cover;
            position: absolute;
            right: 0;
            bottom: 0;
          }

            .details {
              display: flex;
              flex-direction: column;

            .name {
              font-weight: 600;
            }
            .pet-name{
              font-weight: 500;
              font-size: 15px;
            }

            .date {
              font-size: 12px;
            }
          }
        }
      }


    


      .content {
        margin: 20px 0;
        width: 100%;
        word-wrap: break-word;

        img {
          max-height: 400px;
          max-width: 400px;
          width: 40%;

          object-fit: cover;
          margin-top: 20px;
        }
      }

      .info {
        display: flex;
        align-items: center;
        // gap: 250px;
        justify-content: space-between;

        .item {
          display: flex;
          align-items: center;
          gap: 10px;
          cursor: pointer;
          font-size: 14px;
        }
      }
    }
  }
}